/* color : 7fc2b8   0079FF   FF0060    F94A29    */
:root{
    --cyan: #F94A29;
}

*{
    font-family: 'Poppins' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    outline: none; border: none;
    transition: all .2s linear;
}

*::selection{
    /* background: var(--cyan); */
    background: #F31559;
    color: #333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1.4rem;
}

html::-webkit-scrollbar-track{
    background: #222;
}

html::-webkit-scrollbar-thumb{
    background: var(--cyan);
}

body{
    background: #111;
    overflow-x: hidden;
    padding-left: 20rem;
    padding-right: 20rem;

}

section{
    min-height: 100vh;
    padding: 1rem;
}

header{
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    /* width: 35rem; */
    height: 100%;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid white;
}

header .user .name{
    font-size: 3rem;
    color: white;
}

header .user .post{
    font-size: 1.5rem;
    color: #eee;
}

header .navbar{
    margin-top: 20px;
    width: 100%;
}

header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: white;
    font-size: 1.5rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background: var(--cyan);
}

#menu{
    position: fixed;
    top: 2rem; right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}
/* .sections{
    padding: 0 15rem; 
} */
.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.home h3{
    font-size: 2rem;
    color: white;
}

.home h1{
    font-size: 5rem;
    color: white;
}

.home h1 span{
    color: var(--cyan);
}

.home p{
    font-size: 1.5rem;
    color: #eee;
    padding: 1rem 0;
}

.btn{
    padding: .7rem 3rem;
    background: #333;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.5rem;
    border-radius: 5rem;
}

.btn i{
    padding: 0 .5rem;
    font-size: 1.5rem;
}

.btn:hover{
    background: var(--cyan);
}

.heading{
    text-align: center;
    margin: 0 6rem;
    text-transform: capitalize;
    font-size: 3.5rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: white;
}

.heading span{
    color: var(--cyan);
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding: 1rem 0; */
}

.about .row .info{
    padding: 2rem 1rem;
    /* padding-left: 6rem; */
}

.about .row .info h3{
    font-size: 1.5rem;
    color: var(--cyan);
    padding: 1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color: white;
    padding: .5rem;
}

.about .row .counter{
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width: 20rem;
    background: #222;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.about .row .counter .box span{
    font-size: 3.5rem;
    color: var(--cyan);
}

.about .row .counter .box h3{
    font-size: 1.5rem;
    color: white;
}

.education .box-container,
.portfolio .box-container,
.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.education .box-container{
    padding: 1rem 0;
    /* padding-left: 3rem; */
}

.education .box-container .box{
    width: 39rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid white;
    position: relative;
}

.education .box-container .box span{
    font-size: .8rem;
    background: #222;
    color: white;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color: white;
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color: #eee;
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top: -1.5rem; left: -2.5rem;
    width: 5rem; height: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: white;
    background: var(--cyan);
}

.portfolio .box-container{
    padding: 2rem 0;
}

.portfolio .box-container .box{
    width: 26rem; height: 20rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img{
    width: 100%; height: 100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}

.contact .row .content{
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 2rem; margin: 2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding: 1.5rem;
    margin: 1rem 0;
    background: #333;
    color: white;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color: var(--cyan);
}

.top{
    width: 5rem; height: 5rem;
    background: var(--cyan);
    position: fixed;
    padding: 1rem;
    bottom: 7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}
.top i{
    font-size: 3rem;
    color: #333;
}

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
    .home{
        padding: 1rem 4rem;
    }
}

@media (max-width: 991px){
    header{
        left: -60rem;
    }
    #menu{
        display: block;
    }
    .headerToggle{
        left: 0;
    }
    body{
        padding: 0;
    }
}


@media (max-width: 768px){
    html{
        font-size: 50%;
    }
}

@media (max-width: 400px){
    header{
        width: 100%;
    }
    .heading{
        margin: 0 3rem;
    }
    .about .row .counter .box,
    .education .box-container .box,
    .portfolio .box-container .box{
        width: 100%;
    }
    .contact .row form{
        margin: 3rem 0;
    }
}




.nav{
    color: #eee;
    display: flex;
    text-align: center;
    margin-top: 10px;

}

.nav ul li{
    text-align: center;
    color: #eee;
    text-decoration: none;
    padding: 10px;
    margin: auto;
    background-color: #333;
    border-radius: 5rem;
    /* width: 20rem; */
    margin: 5px;
    
}

.nav{
    justify-content: center;
    text-align: center;
}

.nav ul{
    display: contents;
    list-style: none;
    justify-content: center;
text-align: center;}
.nav ul li a{
    display: block;
    font-size: medium;
    color: #eee;
}

.nav ul li:hover{
    background-color: #F94A29;
}

.home img{
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid white;
}